@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

body{
  font-family: 'times';
  font-weight: bold;
}
.nombre{
  color: #fff;
}
.titulo{
  color: #fff;
}
.correo{
  color: #fff;
}
.especialidades{
  width: 100%;
}
.parrafo1{
  padding: 0px 2vw;
  text-align: justify;
}
.foto-perfil{
  border-radius: 50%;
  width: 90%;
  margin: 2vw 0vh;
}
.imagen-perfil{
  background-color: #2e0606;
  height: 100vh;
  width: 100%;
}

.navegador{
  height: 10vh;
  background-color: rgba(0,0,0,0.5);
}
.navegador a{
  width: 19.5vw;
  font-size: 20px;
}
.video-section{
	object-fit: cover;
	width: 100%;
	height: 100vh;
  opacity: 0.5;
}
.banner{
	height: 100vh;
}
.banner:after{
	content: "";
	background-color: #1f1d1d;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100vh;
	width: 100%;
	opacity: 0.4;
}
.banner-content h1 {
	font-size: 6vw;
	color: #ffffff;
	text-transform: capitalize;
  line-height: 73px;
}

.banner-content {
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	content: "";
	text-align: center;
	top: 50%;
	transform: translateY(-55%);
	z-index: 9;
  box-shadow: 3px 1px 3px 3px #000;
}

.banner-content p {
	color: #ffffff;
	max-width: 710px;
	width: 100%;
	margin: 0 auto;
	padding: 25px 0px 33px;
  font-size: 1em;
}
.servicios{
  height: 100vh;
}
.lenguajes{
  height: 30vh;
}
.imagen1{
  height: 35vh;
}
.imagen2{
  height: 35vh;
}
.sec-img2{
  display: none;
}
.parrafo2{
  padding: 0px 3vw;
  text-align: justify;
}
.galeria{
  height: 100vh;
}
ul.slider{
  position: relative;
  width: 100%;
}
.imagen-galeria{
  width: 50%;
}
ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  width: 100%;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu{
  text-align: center;
  margin: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}
.banner-letras{
  color: #fff;
  text-shadow: 3px 3px #000;
}
/*=====  SLIDESHOW ======*/








/*=====  End of banner-section  ======*/



/*===================================
=            media-query            =
===================================*/

@media (max-width: 100vw){

	.banner-content p {
		width: 90vw;
	}
  .banner-content h1 {
	font-size: 9vw;
  line-height: 53px;
  }
}
@media only screen
  and (min-device-width: 200px)
  and (max-device-width: 460px) {
  .foto-perfil{
    border-radius: 0%;
    width: 90%;
    margin: 10vw 0vh;
  }
  .sec-img1{
    display: none;
  }
  .sec-img2{
    display: inherit;
  }
}